// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center{
	text-align: center;
}
.link {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none !important;
	margin: 0 15px;
}
.project {
	width: 340px;
	height: 300px;
	margin-bottom: 50px;
	text-align: center;
}

.project > p {
	margin: 10px 0 15px;
	color: rgba(42, 83, 98, 1.00);
}
.project_top {
	position: relative;
}

.project_top > img {
	width: 340px;
	height: 172px;
}

.project_top > div { 
	text-align: left;
	width: 340px;
	height: 35px;
	position: absolute;
	bottom: 0;
	background-color: rgba(42, 83, 98, 0.7);
	padding-top: 6px;
}

.status > .label-default {
	background-color: rgba(254, 253, 159, 1.00);
	color: rgba(255, 120, 2, 1.00);
	margin: 20px;
}
.project_name {
	color: rgba(196, 208, 207, 1.00)
}
.project_time {
	width: 340px;
	height: 46px;
	clear: both;
}
.project_time > div {
	width: 169px;
	height: 46px;
	background-color: rgba(248, 248, 248, 1.00)
}
.project_time p {
	margin: 5px 0 0;
	font-size: 12px;
}
.project_startdate {
	float: left;
	color: rgba(255, 120, 2, 1.00);
}
.project_deadline{
	float: right;
	color: rgba(42, 83, 98, 1.00)
}
.project_bottom {
	width: 340px;
	height: 46px;
	margin-top: 2px;
	background-color: rgba(248, 248, 248, 1.00);
	padding-top: 8px;
}
.project_bottom > .label-default {
	padding: 0 15px;
	border: 1px solid rgba(255, 120, 2, 1.00);
	background-color: #fff;
	color: rgba(255, 120, 2, 1.00);
}



#project {
	margin-top: 50px;
	width: 750px;
	margin: 0 auto;
}
#project_top {
	position: relative;
	text-align: center;
}

#project_top > img {
	width: 750px;
	height: 350px;
}
#project_top > div {
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: rgba(42, 83, 98, 0.7);
	width: 254px;
	height: 350px;
}
#project_top p {
	font-size: 20px;
	color: rgba(196, 208, 207, 1.00);
	margin-top: 50px;
}
#project_top .glyphicon {
	font-size: 40px;
	margin-right: 20px;
}

#project_top > span {
	position: absolute;
	left: 30px;
	bottom: 30px;
	background-color: rgba(254, 253, 159, 1.00);
	color: rgba(255, 120, 2, 1.00);
	font-size: 30px;
}

.title {
	width: 750px;
	height: 70px;
	background-color: rgba(222, 242, 231, 1.00);
}
.title p {
	color: rgba(42, 83, 98, 1.00);
	font-size: 30px;
	padding: 15px 30px;
}
.title + p {
	color: rgba(42, 83, 98, 1.00);
	font-size: 25px;
	padding: 15px 30px;
}

.position {
	position: relative;
	width: 750px;
	height: 130px;
	border: 1px solid #fff;
}
.position > img {
	position: absolute;
	left: 15px;
	bottom: 15px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.position > .label-default {
	position: absolute;
	top: 20px;
	left: 170px;
	padding: 0 15px;
	border: 1px solid rgba(255, 120, 2, 1.00);
	background-color: #fff;
	color: rgba(255, 120, 2, 1.00);
	font-size: 30px;
}
.position > p {
	position: absolute;
	bottom: 5px;
	left: 170px;
	color: rgba(255, 120, 2, 1.00);
	font-size: 30px;
}
.position > a {
	position: absolute;
	right: 25px;
	top: 35px;
	font-size: 30px;
	color: #fff;
	background-color: rgba(255, 120, 2, 1.00);
	border: 1px solid rgba(255, 120, 2, 1.00);
}

.position > a:hover {
	position: absolute;
	right: 25px;
	top: 35px;
	font-size: 30px;
	color: #fff;
	background-color: rgba(255, 120, 2, 1.00);
	border: 1px solid rgba(255, 120, 2, 1.00);
}

.position > a:active {
	position: absolute;
	right: 25px;
	top: 35px;
	font-size: 30px;
	color: #fff;
	background-color: rgba(255, 120, 2, 1.00);
	border: 1px solid rgba(255, 120, 2, 1.00);
}

.position > a:focus {
	position: absolute;
	right: 25px;
	top: 35px;
	font-size: 30px;
	color: #fff;
	background-color: rgba(255, 120, 2, 1.00);
	border: 1px solid rgba(255, 120, 2, 1.00);
}
.position > a:active:focus {
	position: absolute;
	right: 25px;
	top: 35px;
	font-size: 30px;
	color: #fff;
	background-color: rgba(255, 120, 2, 1.00);
	border: 1px solid rgba(255, 120, 2, 1.00);
}
.position_description {
	/*box-shadow:inset 3px 3px 3px rgba(20%,20%,40%,0.5);*/
	box-shadow:1px 1px 3px 2px rgba(20%,20%,40%,0.5) inset;
	background-color: rgba(223, 223, 223, 1.00);

	width: 750px;
	height: 96px;
}
.position_description > p {
	margin-left: 30px;
	padding-top: 25px;
	font-size: 30px
}